@model Inmobiliaria_.Net_Core.Models.Pago

@{ int numero = Convert.ToInt32(ViewData["Numero"]);
   var precio = Convert.ToInt32(ViewData["Importe"]);
    DateTime hoy = DateTime.Now.Date;
    }

<h4 style="color:white">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
                <label asp-for="NroPago" class="control-label"></label>
                <input asp-for="NroPago" class="form-control" value=@numero readonly/>
                <span asp-validation-for="NroPago" class="text-danger"></span>
            </div>
           <div class="form-group">
               <label asp-for="Fecha" class="control-label"></label>
               <input asp-for="Fecha" class="form-control" value=@hoy />
               <span asp-validation-for="Fecha" class="text-danger"></span>
           </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe"  class="form-control" value=@precio />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Guardar" style="font-weight:bold; border:groove" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

