@model Inmobiliaria_.Net_Core.Models.Inquilino

<h4 style="color:white">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Dni" class="form-control" placeholder="DNI" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Direccion" class="form-control" placeholder="Dirección" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Telefono" class="form-control" placeholder="Teléfono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Guardar" style="font-weight:bold; border:groove" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
