</br></br></br></br>
<span style="color:white" class="lnr lnr-apartment"></span>
<a asp-action="Disponibles" style="color:white" class="btn btn-link">Inmuebles Disponibles</a>
</br>

<span style="color:white" class="lnr lnr-home"></span>
<a asp-action="PorDuenio" style="color:white" class="btn btn-link">Inmuebles Por Dueño</a>
</br>

<span style="color:white" class="lnr lnr-layers"></span>
<a asp-action="ContratosVigentes" style="color:white" class="btn btn-link">Contratos Vigentes</a>
</br>

<span style="color:white" class="lnr lnr-license"></span>
<a asp-action="ContratosPorInmueble" style="color:white" class="btn btn-link">Contratos Por Inmueble</a>




